mat-toolbar{
  background-color: #880e4f;
  opacity: 0.9;
  font-family: Roboto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
