/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
.mat-tab-label {
  width: 33.33%;
}

label{
  color: #880e4f !important;
  font-size: 18px !important;
}

.mat-form-field-underline{
  visibility: hidden;
}

.mat-select-arrow{
  color: #880e4f !important;
}

.mat-select-value{
  color: #880e4f;
}

.mdc-dialog__surface{
  max-width: none;
  min-width: auto !important;
  width: 100%;
  height: 100%;
}

#wikiDialogSurface {
  width: 50%;
  height: 50%;
}